In [12]:
#Importing all libraries
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
import math

### Adding the data

In [13]:
DATA_DIR = "../input/ai511-homeloan-2022"

In [14]:
df = pd.read_csv(os.path.join(DATA_DIR, "test_data.csv"))

In [15]:
dt = pd.read_csv(os.path.join(DATA_DIR, "train_data.csv"))

In [16]:
df.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,367294,Cash loans,F,N,Y,0,180000.0,265306.5,25317.0,252000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,2.0,5.0
1,439847,Cash loans,F,N,Y,0,202500.0,346500.0,21069.0,346500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
2,380562,Cash loans,M,Y,N,0,360000.0,545040.0,36553.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,5.0
3,407238,Cash loans,F,N,Y,0,135000.0,307557.0,20682.0,265500.0,...,0,0,0,0,0.0,0.0,1.0,0.0,1.0,2.0
4,239910,Cash loans,F,N,Y,0,157500.0,1056447.0,31018.5,922500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.shape

(123005, 121)

### Extracting the Categorical columns

In [18]:

 categorical_data = [
     'name_contract_type',
     'code_gender',
     'name_type_suite',
     'name_income_type',
     'name_education_type',
     'name_family_status',
     'name_housing_type',
     'occupation_type',
     'weekday_appr_process_start',
     'organization_type',
     'fondkapremont_mode',
     'housetype_mode',
     'wallsmaterial_mode',
     'emergencystate_mode',
     'flag_own_car',
     'flag_own_realty',
     'flag_mobil',
     'flag_emp_phone',
     'flag_work_phone',
     'flag_cont_mobile',
     'flag_phone',
     'flag_email',
     'flag_document_2',
     'flag_document_3',
     'flag_document_4',
     'flag_document_5',
     'flag_document_6',
     'flag_document_7',
     'flag_document_8',
     'flag_document_9',
     'flag_document_10',
     'flag_document_11',
     'flag_document_12',
     'flag_document_13',
     'flag_document_14',
     'flag_document_15',
     'flag_document_16',
     'flag_document_17',
     'flag_document_18',
     'flag_document_19',
     'flag_document_20',
     'flag_document_21',
     'cnt_children',
     'cnt_fam_members',
     'region_rating_client',
     'region_rating_client_w_city',
     'reg_region_not_live_region',
     'reg_region_not_work_region',
     'live_region_not_work_region',
     'reg_city_not_live_city',
     'reg_city_not_work_city',
     'live_city_not_work_city',
     'amt_req_credit_bureau_hour',
     'amt_req_credit_bureau_day',
     'amt_req_credit_bureau_week',
     'amt_req_credit_bureau_mon',
     'amt_req_credit_bureau_qrt',
     'amt_req_credit_bureau_year',
     'obs_30_cnt_social_circle',
     'def_30_cnt_social_circle',
     'obs_60_cnt_social_circle',
     'def_60_cnt_social_circle'
 ]

categorical_data = [col.upper() for col in categorical_data]
categorical_data

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'OCCUPATION_TYPE',
 'WEEKDAY_APPR_PROCESS_START',
 'ORGANIZATION_TYPE',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'CNT_CHILDREN',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE']

### Columns having numerical values

In [19]:
num_data = df.columns.drop(categorical_data).to_list()
len(num_data)

59

### Printing the NULL Values Percentage

In [20]:
for col in categorical_data:
    print(f"{col}: {sum(df[col].isna()) / len(df) * 100}")

NAME_CONTRACT_TYPE: 0.0
CODE_GENDER: 0.0
NAME_TYPE_SUITE: 0.4243729929677655
NAME_INCOME_TYPE: 0.0
NAME_EDUCATION_TYPE: 0.0
NAME_FAMILY_STATUS: 0.0
NAME_HOUSING_TYPE: 0.0
OCCUPATION_TYPE: 31.31905207105402
WEEKDAY_APPR_PROCESS_START: 0.0
ORGANIZATION_TYPE: 0.0
FONDKAPREMONT_MODE: 68.32323889272793
HOUSETYPE_MODE: 50.25405471322304
WALLSMATERIAL_MODE: 50.908499654485595
EMERGENCYSTATE_MODE: 47.49319133368562
FLAG_OWN_CAR: 0.0
FLAG_OWN_REALTY: 0.0
FLAG_MOBIL: 0.0
FLAG_EMP_PHONE: 0.0
FLAG_WORK_PHONE: 0.0
FLAG_CONT_MOBILE: 0.0
FLAG_PHONE: 0.0
FLAG_EMAIL: 0.0
FLAG_DOCUMENT_2: 0.0
FLAG_DOCUMENT_3: 0.0
FLAG_DOCUMENT_4: 0.0
FLAG_DOCUMENT_5: 0.0
FLAG_DOCUMENT_6: 0.0
FLAG_DOCUMENT_7: 0.0
FLAG_DOCUMENT_8: 0.0
FLAG_DOCUMENT_9: 0.0
FLAG_DOCUMENT_10: 0.0
FLAG_DOCUMENT_11: 0.0
FLAG_DOCUMENT_12: 0.0
FLAG_DOCUMENT_13: 0.0
FLAG_DOCUMENT_14: 0.0
FLAG_DOCUMENT_15: 0.0
FLAG_DOCUMENT_16: 0.0
FLAG_DOCUMENT_17: 0.0
FLAG_DOCUMENT_18: 0.0
FLAG_DOCUMENT_19: 0.0
FLAG_DOCUMENT_20: 0.0
FLAG_DOCUMENT_21: 0.0
CNT_CHILDREN: 0.0
CNT_FAM_MEMBERS: 0.0008129750823137272
REGION_RATING_CLIENT: 0.0
REGION_RATING_CLIENT_W_CITY: 0.0
REG_REGION_NOT_LIVE_REGION: 0.0
REG_REGION_NOT_WORK_REGION: 0.0
LIVE_REGION_NOT_WORK_REGION: 0.0
REG_CITY_NOT_LIVE_CITY: 0.0
REG_CITY_NOT_WORK_CITY: 0.0
LIVE_CITY_NOT_WORK_CITY: 0.0
AMT_REQ_CREDIT_BUREAU_HOUR: 13.431161334905084
AMT_REQ_CREDIT_BUREAU_DAY: 13.431161334905084
AMT_REQ_CREDIT_BUREAU_WEEK: 13.431161334905084
AMT_REQ_CREDIT_BUREAU_MON: 13.431161334905084
AMT_REQ_CREDIT_BUREAU_QRT: 13.431161334905084
AMT_REQ_CREDIT_BUREAU_YEAR: 13.431161334905084
OBS_30_CNT_SOCIAL_CIRCLE: 0.31055648144384373
DEF_30_CNT_SOCIAL_CIRCLE: 0.31055648144384373
OBS_60_CNT_SOCIAL_CIRCLE: 0.31055648144384373
DEF_60_CNT_SOCIAL_CIRCLE: 0.31055648144384373

In [21]:
for col in num_data:
    print(f"{col}: {sum(df[col].isna()) / len(df) * 100}")

SK_ID_CURR: 0.0
AMT_INCOME_TOTAL: 0.0
AMT_CREDIT: 0.0
AMT_ANNUITY: 0.0048778504938823625
AMT_GOODS_PRICE: 0.09024023413682371
REGION_POPULATION_RELATIVE: 0.0
DAYS_BIRTH: 0.0
DAYS_EMPLOYED: 0.0
DAYS_REGISTRATION: 0.0
DAYS_ID_PUBLISH: 0.0
OWN_CAR_AGE: 66.09162229177676
HOUR_APPR_PROCESS_START: 0.0
EXT_SOURCE_1: 56.342425104670546
EXT_SOURCE_2: 0.20080484533149057
EXT_SOURCE_3: 19.762611275964392
APARTMENTS_AVG: 50.79956099345555
BASEMENTAREA_AVG: 58.508190723954314
YEARS_BEGINEXPLUATATION_AVG: 48.86549327263119
YEARS_BUILD_AVG: 66.44526645258323
COMMONAREA_AVG: 69.82968172025528
ELEVATORS_AVG: 53.307589122393395
ENTRANCES_AVG: 50.42152758017967
FLOORSMAX_AVG: 49.83049469533759
FLOORSMIN_AVG: 67.80049591480021
LANDAREA_AVG: 59.38539083777082
LIVINGAPARTMENTS_AVG: 68.27933823828299
LIVINGAREA_AVG: 50.254867688305346
NONLIVINGAPARTMENTS_AVG: 69.40205682695826
NONLIVINGAREA_AVG: 55.19613023860819
APARTMENTS_MODE: 50.79956099345555
BASEMENTAREA_MODE: 58.508190723954314
YEARS_BEGINEXPLUATATION_MODE: 48.86549327263119
YEARS_BUILD_MODE: 66.44526645258323
COMMONAREA_MODE: 69.82968172025528
ELEVATORS_MODE: 53.307589122393395
ENTRANCES_MODE: 50.42152758017967
FLOORSMAX_MODE: 49.83049469533759
FLOORSMIN_MODE: 67.80049591480021
LANDAREA_MODE: 59.38539083777082
LIVINGAPARTMENTS_MODE: 68.27933823828299
LIVINGAREA_MODE: 50.254867688305346
NONLIVINGAPARTMENTS_MODE: 69.40205682695826
NONLIVINGAREA_MODE: 55.19613023860819
APARTMENTS_MEDI: 50.79956099345555
BASEMENTAREA_MEDI: 58.508190723954314
YEARS_BEGINEXPLUATATION_MEDI: 48.86549327263119
YEARS_BUILD_MEDI: 66.44526645258323
COMMONAREA_MEDI: 69.82968172025528
ELEVATORS_MEDI: 53.307589122393395
ENTRANCES_MEDI: 50.42152758017967
FLOORSMAX_MEDI: 49.83049469533759
FLOORSMIN_MEDI: 67.80049591480021
LANDAREA_MEDI: 59.38539083777082
LIVINGAPARTMENTS_MEDI: 68.27933823828299
LIVINGAREA_MEDI: 50.254867688305346
NONLIVINGAPARTMENTS_MEDI: 69.40205682695826
NONLIVINGAREA_MEDI: 55.19613023860819
TOTALAREA_MODE: 48.35819682126743
DAYS_LAST_PHONE_CHANGE: 0.0

### Dropping the columns dropped in training data

In [22]:
toDrop=[
 'FONDKAPREMONT_MODE',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'FLOORSMIN_AVG',
 'LIVINGAPARTMENTS_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'FLOORSMIN_MODE',
 'LIVINGAPARTMENTS_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'FLOORSMIN_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'NONLIVINGAPARTMENTS_MEDI']

dropped = []
for col in toDrop:
    null_cols = df[col].isna()
    prop = sum(null_cols) / len(df)
    dropped.append(col)
    df = df.drop(col, axis=1)
        
dropped

['FONDKAPREMONT_MODE',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'FLOORSMIN_AVG',
 'LIVINGAPARTMENTS_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'FLOORSMIN_MODE',
 'LIVINGAPARTMENTS_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'FLOORSMIN_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'NONLIVINGAPARTMENTS_MEDI']

In [23]:
num_data = [col for col in num_data if col not in dropped]

num_data

['SK_ID_CURR',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'HOUR_APPR_PROCESS_START',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'LANDAREA_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'LANDAREA_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAREA_MEDI',
 'TOTALAREA_MODE',
 'DAYS_LAST_PHONE_CHANGE']

In [24]:
categorical_data = [col for col in categorical_data if col not in dropped]
categorical_data

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'OCCUPATION_TYPE',
 'WEEKDAY_APPR_PROCESS_START',
 'ORGANIZATION_TYPE',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'CNT_CHILDREN',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE']

In [25]:
df.shape

(123005, 105)

In [26]:
df.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,367294,Cash loans,F,N,Y,0,180000.0,265306.5,25317.0,252000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,2.0,5.0
1,439847,Cash loans,F,N,Y,0,202500.0,346500.0,21069.0,346500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
2,380562,Cash loans,M,Y,N,0,360000.0,545040.0,36553.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,5.0
3,407238,Cash loans,F,N,Y,0,135000.0,307557.0,20682.0,265500.0,...,0,0,0,0,0.0,0.0,1.0,0.0,1.0,2.0
4,239910,Cash loans,F,N,Y,0,157500.0,1056447.0,31018.5,922500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

From above we notice : 
*      days_birth, ext_source_1, ext_source_2 and ext_source_3 shows a lot of difference with respect to target
*      Other features also have differences with respect to target

### Filling Median in the NULL Values for numerical data

In [27]:
for col in num_data:
    df.loc[df[col].isna(), col] = df[col].median()
df[num_data].isna().any()

SK_ID_CURR                      False
AMT_INCOME_TOTAL                False
AMT_CREDIT                      False
AMT_ANNUITY                     False
AMT_GOODS_PRICE                 False
REGION_POPULATION_RELATIVE      False
DAYS_BIRTH                      False
DAYS_EMPLOYED                   False
DAYS_REGISTRATION               False
DAYS_ID_PUBLISH                 False
OWN_CAR_AGE                     False
HOUR_APPR_PROCESS_START         False
EXT_SOURCE_1                    False
EXT_SOURCE_2                    False
EXT_SOURCE_3                    False
APARTMENTS_AVG                  False
BASEMENTAREA_AVG                False
YEARS_BEGINEXPLUATATION_AVG     False
ELEVATORS_AVG                   False
ENTRANCES_AVG                   False
FLOORSMAX_AVG                   False
LANDAREA_AVG                    False
LIVINGAREA_AVG                  False
NONLIVINGAREA_AVG               False
APARTMENTS_MODE                 False
BASEMENTAREA_MODE               False
YEARS_BEGINEXPLUATATION_MODE    False
ELEVATORS_MODE                  False
ENTRANCES_MODE                  False
FLOORSMAX_MODE                  False
LANDAREA_MODE                   False
LIVINGAREA_MODE                 False
NONLIVINGAREA_MODE              False
APARTMENTS_MEDI                 False
BASEMENTAREA_MEDI               False
YEARS_BEGINEXPLUATATION_MEDI    False
ELEVATORS_MEDI                  False
ENTRANCES_MEDI                  False
FLOORSMAX_MEDI                  False
LANDAREA_MEDI                   False
LIVINGAREA_MEDI                 False
NONLIVINGAREA_MEDI              False
TOTALAREA_MODE                  False
DAYS_LAST_PHONE_CHANGE          False
dtype: bool

### Filling the NULL values for Categorical data with mode

In [28]:
for col in categorical_data:
    df.loc[df[col].isna(), col] = df[col].mode()[0]
df[categorical_data].isna().any()

NAME_CONTRACT_TYPE            False
CODE_GENDER                   False
NAME_TYPE_SUITE               False
NAME_INCOME_TYPE              False
NAME_EDUCATION_TYPE           False
                              ...
AMT_REQ_CREDIT_BUREAU_YEAR    False
OBS_30_CNT_SOCIAL_CIRCLE      False
DEF_30_CNT_SOCIAL_CIRCLE      False
OBS_60_CNT_SOCIAL_CIRCLE      False
DEF_60_CNT_SOCIAL_CIRCLE      False
Length: 61, dtype: bool

### Applying same logic which was applied in training data for skewness

In [29]:
len(num_data)

44

In [30]:
skew = [
    "EXT_SOURCE_2",
    "AMT_ANNUITY",
    "AMT_CREDIT"
]

In [31]:
df['EXT_SOURCE_2'] = df['EXT_SOURCE_2'].apply(lambda x: x*x)

In [32]:
df['AMT_ANNUITY'] = df['AMT_ANNUITY'].apply(lambda x: math.pow(x,1/3))
df['AMT_CREDIT'] = df['AMT_CREDIT'].apply(lambda x: math.pow(x,1/3))

In [33]:
skID = df['SK_ID_CURR']
features = df.drop(['SK_ID_CURR'], axis=1)

### Scaling the Data with Min Max Normalization

In [34]:
scaler = preprocessing.MinMaxScaler()
num_data = [i for i in num_data if i != "SK_ID_CURR"]
features[num_data] = scaler.fit_transform(features[num_data].to_numpy())
features[num_data].describe()

,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,...,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,LANDAREA_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,DAYS_LAST_PHONE_CHANGE
count,123005.000000,123005.000000,123005.000000,123005.000000,123005.000000,123005.000000,123005.000000,123005.000000,123005.000000,123005.000000,...,123005.000000,123005.000000,123005.000000,123005.000000,123005.000000,123005.000000,123005.000000,123005.000000,123005.000000,123005.000000
mean,0.021243,0.360148,0.340188,0.123064,0.284939,0.523648,0.212456,0.797829,0.583947,0.154524,...,0.081116,0.979572,0.036728,0.143619,0.196665,0.055999,0.092062,0.014473,0.086534,0.775356
std,0.015382,0.149259,0.106356,0.092290,0.191805,0.248833,0.368994,0.142661,0.209628,0.109521,...,0.053199,0.043921,0.100701,0.070795,0.106863,0.052692,0.081140,0.048919,0.079622,0.192432
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.012916,0.234710,0.264782,0.048315,0.134537,0.315616,0.038617,0.697187,0.402807,0.138462,...,0.076100,0.981600,0.000000,0.137900,0.166700,0.048500,0.075300,0.003200,0.067200,0.633970
50%,0.017600,0.358950,0.341208,0.101124,0.257000,0.539851,0.042655,0.817566,0.548006,0.138462,...,0.076100,0.981600,0.000000,0.137900,0.166700,0.048500,0.075300,0.003200,0.068900,0.823159
75%,0.026300,0.465124,0.411013,0.158427,0.392880,0.730359,0.045080,0.917802,0.761289,0.138462,...,0.076100,0.982100,0.000000,0.137900,0.166700,0.048500,0.075300,0.003200,0.070400,0.935461
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [35]:
features["SK_ID_CURR"] = skID
df = features

### One Hot Encoding

In [36]:

df[categorical_data] = df[categorical_data].astype("category")
df_encode = pd.get_dummies(df)
df_encode.shape

(123005, 420)

In [37]:
df_encode.head()

,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,...,AMT_REQ_CREDIT_BUREAU_YEAR_12.0,AMT_REQ_CREDIT_BUREAU_YEAR_13.0,AMT_REQ_CREDIT_BUREAU_YEAR_14.0,AMT_REQ_CREDIT_BUREAU_YEAR_15.0,AMT_REQ_CREDIT_BUREAU_YEAR_16.0,AMT_REQ_CREDIT_BUREAU_YEAR_17.0,AMT_REQ_CREDIT_BUREAU_YEAR_18.0,AMT_REQ_CREDIT_BUREAU_YEAR_19.0,AMT_REQ_CREDIT_BUREAU_YEAR_21.0,AMT_REQ_CREDIT_BUREAU_YEAR_22.0
0,0.022954,0.231668,0.344908,0.051685,0.446855,0.217399,0.031931,0.851411,0.367653,0.138462,...,0,0,0,0,0,0,0,0,0,0
1,0.026300,0.279968,0.309120,0.075281,0.361433,0.292941,0.042164,0.705820,0.494373,0.138462,...,0,0,0,0,0,0,0,0,0,0
2,0.049722,0.372416,0.423395,0.101124,0.134897,0.696234,0.040942,0.798354,0.260247,0.276923,...,0,0,0,0,0,0,0,0,0,0
3,0.016262,0.257868,0.305628,0.055056,0.115414,0.827779,0.042039,0.958658,0.691538,0.138462,...,0,0,0,0,0,0,0,0,0,0
4,0.019608,0.535237,0.387119,0.219101,0.143358,0.395716,1.000000,0.577456,0.745866,0.138462,...,0,0,0,0,0,0,0,0,0,0

In [38]:
df_encode['SK_ID_CURR']

0         367294
1         439847
2         380562
3         407238
4         239910
           ...
123000    128638
123001    169821
123002    442166
123003    301605
123004    176833
Name: SK_ID_CURR, Length: 123005, dtype: int64

In [39]:
df_encode.to_csv('processedTesting.csv', index=False)